.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.lock-scene {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 🔵 Base du lock (cylindre) */
.lock-body-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

/* 🔴 Zone centrale (où tout se superpose) */
.lock-hole-area {
  position: absolute;
  inset: 0;
  z-index: 2;
}


.tool-icon {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.tool-icon.pick-icon {
  z-index: 5;
}

.tool-icon.pick-icon img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.tool-icon.wrench-icon {
  z-index: 4;
}

.tool-icon.wrench-icon img {
  width: 280px;
  height: 280px;
  object-fit: contain;
}

.rotor-img-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}

.rotor-img {
  width: 240px;
  height: 240px;
  object-fit: contain;
}
